@import 'utilities/variables';
@import 'utilities/mixins';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 4px;
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 100%;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &__vertical {
    flex-direction: column;
  }

  /**
  * Variations by colors
  */
  &__deep-green {
    background: $color-brand-deep-green;
    color: $color-neutral-100;

    svg {
      @include custom-svg($color-neutral-100);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-brand-deep-green);
  }

  &__yellow {
    background: $color-brand-yellow;
    color: $color-neutral-0;

    svg {
      @include custom-svg($color-neutral-0);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-brand-yellow);
  }

  &__orange {
    background: $color-brand-orange;
    color: $color-neutral-100;

    svg {
      @include custom-svg($color-neutral-100);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-brand-orange);
  }

  &__magenta {
    background: $color-brand-magenta;
    color: $color-neutral-100;

    svg {
      @include custom-svg($color-neutral-100);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-brand-magenta);
  }

  &__royal-blue {
    background: $color-brand-royal-blue;
    color: $color-neutral-100;

    svg {
      @include custom-svg($color-neutral-100);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-brand-royal-blue);
  }

  &__black {
    background: $color-neutral-0;
    color: $color-neutral-100;

    svg {
      @include custom-svg($color-neutral-100);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-neutral-0);
  }

  &__white {
    background: $color-neutral-100;
    color: $color-neutral-0;

    svg {
      @include custom-svg($color-neutral-0);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-neutral-100);
  }

  &__gray {
    background: $color-neutral-90;
    color: $color-neutral-0;

    svg {
      @include custom-svg($color-neutral-0);
    }

    @include btn-bg-linear-gradient-on-focus-and-hover($color-neutral-90);
  }

  /**
  * Variations by size
  */
  &__sm {
    width: 120px;
    height: 120px;

    @include font-size(12px);
  }

  &__md {
    width: 128px;
    height: 128px;

    @include font-size(14px);
  }

  &__lg {
    width: 136px;
    height: 136px;

    @include font-size(16px);
  }

  &__x-lg {
    width: 144px;
    height: 144px;

    @include font-size(20px);
  }
}
