// Colors - brand
$color-brand-magenta: #ff3e78;
$color-brand-royal-blue: #1858e3;
$color-brand-deep-green: #15a800;
$color-brand-yellow: #ffdb01;
$color-brand-orange: #f94107;

// colors - neutral
$color-neutral-100: #fff;
$color-neutral-90: #e6e6e6;
$color-neutral-80: #ccc;
$color-neutral-70: #b3b3b3;
$color-neutral-60: #999;
$color-neutral-50: #808080;
$color-neutral-40: #666;
$color-neutral-30: #4d4d4d;
$color-neutral-20: #333;
$color-neutral-10: #1a1a1a;
$color-neutral-0: #000;

// colors - feedback
$color-feedback-success: #0f8a0f;
$color-feedback-error: #ff4c4d;
