// root font-size
$root-font-size: 16px;

// font-family
$font-family-primary: var(--font-poppins);
$font-family-secondary: var(--font-heebo);
$font-family-nosource: 'sans-serif';

// font-weight
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// font-spacing
$font-space-base: '4px';
$font-space-x2: '8px';
$font-space-x3: '12px';
$font-space-x4: '16px';
$font-space-x5: '20px';
$font-space-x6: '24px';
$font-space-x7: '28px';
$font-space-x8: '32px';
$font-space-x9: '36px';
$font-space-x10: '40px';
$font-space-x11: '44px';
$font-space-x12: '48px';
$font-space-x13: '52px';
$font-space-x14: '56px';
$font-space-x15: '60px';
$font-space-x16: '64px';
$font-space-x17: '68px';
$font-space-x18: '72px';
$font-space-x19: '76px';
$font-space-x20: '80px';
