name: Test pipeline
on: push
jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cypress runs E2E tests
        uses: cypress-io/github-action@v5

      - name: Jest run unit/integration tests
        run: npm test
